<h1>Account Management</h1>
<h2>Welcome <%- locals.accountData.account_firstname %>!</h2>
<section class="messages">
    <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
</section>
<section class="management">
    <h3>Manage Account</h3>
    <p><a href="/account/update">Access <i class="fi fi-br-arrow-up-right-from-square"></i></a></p>
</section>
<% if (locals.accountData.account_type !=='Client' ) { %>
    <section class="management">
        <h3>Manage Inventory</h3>
        <p><a href="/inv">Access <i class="fi fi-br-arrow-up-right-from-square"></i></a></p>
    </section>
    <% } %>
        <% if (locals.accountData.account_type==='Admin' ) { %>
            <section class="management">
                <h3>Admin Panel</h3>
                <p><a href="/inv/panel">Access <i class="fi fi-br-arrow-up-right-from-square"></i></a></p>
            </section>
            <% } %>