<% const d=new Date(); const year=d.getFullYear() %>
    <footer>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <a href="/some/sunny/day" data-error-link>Error Link</a>
    </footer>