<nav class="dark">
    <ul>
        <li><a>Home</a></li>
        <li><a>Custom</a></li>
        <li><a>Sedan</a></li>
        <li><a>SUV</a></li>
        <li><a>Truck</a></li>
    </ul>
    <%# nav %>
</nav>