<h1>Welcome to CSE Motors!</h1>
<section class="messages">
    <%- messages() %>
</section>
<%- include('./components/hero', { ...hero }) %>
    <%- include('./components/reviews', { ...reviews }) %>
        <%- include('./components/upgrades', { ...upgrades }) %>