/*************** Change Box Model ***************/
:root {
  --white-100: white;
  --grey-200: #222222;
  --grey-400: #444444;
  --grey-600: #333333;
  --grey-900: #111111;

  --background: var(--white-100);
}

*.dark {
  --white-100: black;
  --grey-200: #eaeaea;
  --grey-400: #acacac;
  --grey-600: #ffffff;
  --grey-900: #fafafa;

  --background: var(--white-100);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul:not(.reviews ul, .messages ul, .management ul) li {
  list-style: none;
}

a,
form button {
  text-decoration: none;
  color: var(--grey-400);
}

a:hover {
  color: var(--grey-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
}

body {
  color: var(--grey-600);
  background: url("/images/site/small_check.jpg");

  font-family: sans-serif;
}

#wrapper {
  background-color: var(--background);

  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: min-content;

  align-items: start;
}

header,
nav,
footer {
  grid-column: 1 / 4;
}

header,
nav ul,
footer {
  display: flex;

  align-items: center;
}

/* Header Styles */

header {
  justify-content: space-between;

  padding: 1rem;
}

.siteName a {
  color: var(--grey-900);

  font-family: "Saira Stencil One", sans-serif;
  font-size: xx-large;
}

#tools a {
  font-family: sans-serif;
}

#tools.logged {
  padding-inline: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
}

#tools.logged>* {
  text-align: center;
}

#tools.logged h3 {
  width: fit-content;
}

/* Navigation Styles */

nav {
  background-color: var(--background);

  overflow: scroll hidden;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

nav ul {
  justify-content: center;
  gap: .7rem;
}

nav a {
  display: block;

  padding-block: 1rem;

  text-transform: uppercase;
  font-family: sans-serif;
  font-size: small;
  font-weight: bolder;
}

/* Main Styles */

main {
  grid-column: 2 / 3;

  padding: 1rem;

  display: grid;
  grid-template-columns: auto 1fr auto;

  row-gap: 1rem;
}

h1,
main>h2 {
  grid-column: 1 / 4;

  font-size: x-large;
}

section {
  grid-column: 2 / 3;
}

/* Hero Styles */

.hero {
  grid-column: 1 / 4;

  display: grid;
  grid-template-columns: 1fr;
}

.hero picture,
.hero img {
  width: 100%;
  height: auto;
}

.hero picture,
.hero article {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.hero article {
  color: blue;
  background: #FFFE;

  width: fit-content;
  height: fit-content;

  padding: 1rem 1rem;

  border-radius: 0 .5rem .5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero [data-action] {
  width: 8rem;
  height: auto;

  margin-top: .5rem;

  border-radius: 1rem;
}

/* Reviews Styles */

.reviews,
.upgrades {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.reviews ul {
  padding-left: 1rem;

  font-size: medium;

  display: flex;
  flex-direction: column;
  gap: .25rem;
}

/* Upgrades Styles */

.upgrades article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 9rem;
  gap: .5rem;
}

.upgrades .card {
  width: 100%;
  height: 100%;

  padding: 1rem .5rem;
  margin: 0 auto;

  border: 1px solid var(--grey-400);
  border-radius: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upgrades a:hover .card {
  background-color: #4444447f;

  border: 1px solid var(--grey-900);
}

.upgrades .card img {
  width: 3rem;
  height: auto;
}

.upgrades .card p {
  font-size: medium;
  text-align: center;

  width: 10ch;
}

/* Classification styles*/

#inv-display {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 1rem;
}

#inv-display li {
  justify-self: center;

  padding: 1rem;

  border: 1px solid var(--grey-400);
  border-radius: .5rem;

  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

#inv-display img {
  border-radius: .5rem .5rem 0 0;
}

#inv-display .namePrice {
  width: 100%;
}

.namePrice h2 {
  width: 15ch;

  margin-bottom: 1rem;
}

.namePrice span {
  font-size: larger;
  font-weight: bold;
}

/* Vehicle Styles */

#vehicle-presentation {
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
}

#vehicle-presentation img {
  width: 100%;
  height: auto;

  border-radius: .5rem;
}

#vehicle-presentation article {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#vehicle-presentation li {
  padding: .5rem;
}

#vehicle-presentation ul li:nth-child(odd) {
  background-color: #4444443F;
}

#vehicle-presentation article strong {
  font-size: large;
}

/* Login Form Styles */

form {
  grid-column: 2 / 3;
  justify-self: center;

  width: 100%;
  max-width: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

form label,
form input,
form select,
form textarea {
  width: 100%;

  display: block;
}

form input,
form button,
select,
form textarea {
  font-size: large;
}

form input,
select,
form textarea {
  padding: .25rem;

  border: 2px solid var(--grey-900);
  border-radius: .25rem;
}

form label:has(#account_password) {
  position: relative;
}

form label:has(#account_password) i {
  position: absolute;
  top: 1.5rem;
  right: 0;

  padding-right: .25rem;

  font-size: 1.25rem;
}

form label:has(span) span {
  display: block;
  font-size: small;
  font-style: italic;

  padding-block: .5rem;
}

form input:required:valid:focus,
form textarea:required:valid:focus {
  background-color: lightgreen;
}

form input:required:invalid:focus,
form textarea:required:invalid:focus {
  background-color: palevioletred;
}

form input[type=number]::-webkit-inner-spin-button,
form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form textarea {
  height: 6rem;

  font-family: sans-serif;
}

form button {
  background-color: var(--white-100);

  padding: .25rem 1rem;

  border: 0;
  border-radius: 5rem;
}

form a,
.management a {
  text-decoration: underline;
}

/* Messages and Management Styles */

.messages,
.management,
.pairing {
  grid-column: 2 / 3;
}

.management ul {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

/* Management Table */

.management:has(table) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.management select {
  width: fit-content;
}

.management table {
  width: 100%;
}

.management table tr {
  padding-block: 1rem;
}

.management table td:has(a) {
  text-align: center;
}

[data-update]:hover {
  color: darkolivegreen;
}

[data-delete]:hover {
  color: palevioletred;
}

/* Update Forms */

.pairing {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

/* Footer Styles */

footer {
  flex-direction: column;
  justify-content: center;
  gap: .5rem;

  padding-block: 1rem;
}

[data-error-link] {
  color: blue;
  text-decoration: underline;
}

/* Media Queries */

@media (767px < width) {
  #tools.logged {
    padding-inline: 1rem;

    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
  }

  nav ul {
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  main {
    grid-template-columns: auto repeat(2, 1fr) auto;

    column-gap: 1rem;
  }

  h1,
  .hero {
    grid-column: 1 / 5;
  }

  h1 {
    grid-row: 1 / 2;
  }

  .hero {
    grid-row: 2 / 3;
  }

  .hero article {
    height: 100%;

    justify-content: center;
  }

  .hero [data-action] {
    width: 10rem;

    margin-top: 1rem;
  }

  .reviews,
  .upgrades {
    grid-row: 3 / 4;
  }

  .reviews {
    grid-column: 3 / 4;
  }

  .reviews ul {
    gap: .75rem;
  }

  .upgrades article {
    grid-auto-rows: 8rem;
  }

  #inv-display,
  .messages,
  form,
  .management,
  .pairing {
    grid-column: 2 / 4;
  }

  #vehicle-presentation {
    grid-column-end: span 2;

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #vehicle-presentation li {
    padding: 1rem;
  }

  .pairing {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media (1023px < width) {
  #wrapper {
    margin: 3rem auto;

    width: 768px;
    min-height: 100vh;

    border: 2px solid blue;
    border-radius: 1rem;
  }
}