<h1><%- title %></h1>
<section class="messages">
    <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
</section>
<form action="/inv/add-classification" method="post">
    <label>Classification name*
        <input type="text" name="classification_name" id="classification_name" pattern="^[A-Za-z]+$" required autofocus>
        <p>(Name must be alphabetic characters only)</p>
    </label>
    <button class="dark">Add Classification</button>
</form>