<h1><%- title %></h1>
<section class="messages">
    <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
</section>
<section class="management">
    <ul>
        <li><a href="/inv/add-classification">Add new classification</a></li>
        <li><a href="/inv/add-vehicle">Add new inventory</a></li>
    </ul>
</section>
<section class="management">
    <h2>Manage Inventory</h2>
    <%- classificationSelect %>

        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
</section>

<script type="module" src="../../js/inventory.js"></script>